### Folders ###
.gradle/
.idea/
.mtj.tmp/
.settings/
bin/
build/
eclipse/
lib/
mcp/
misc/
out/
run/
ui/

### Files ###
hs_err_pid*
*.bat
*.blend
*.blend1
*.class
*.classpath
*.ear
*.iml
*.ipr
*.iws
*.jar
*.mtl
*.project
*.setting
*.txt
*.war
*.xcf
*.xml
